{% extends "base.html" %}
{% load staticfiles %}


{% block contentwrap %}

<h2 class="sub-header">Current Channels</h2>

<div class="row placeholders">
	{% for channel in channel_list %}
		<div class="col-xs-6 col-sm-3 col-lg-2 placeholder">
		  <img src="{% static "img/CLTicon2013-300x294.jpg"%}" class="img-responsive" alt="Generic placeholder ">
		  <a href="{{ channel.get_absolute_url }}"><h3>{{ channel.title }}</h3></a>
		  <!-- <span class="text-muted">{{ category.title }}</span> -->
		</div>
	{% empty %}
    	<p>There are no channels that are current.</p>
	{% endfor %}
</div>


{% endblock contentwrap %}

