{% extends "base_activity.html" %}
{% load staticfiles %}

{% block contentwrap %}
<h1 class="page-header">{{ category.nickname }}<span class="text-muted">{{ category.title }}</span></h1>


{% regroup video_list by channel as channel_list %}


	{% for videos in channel_list %}

		<h2 class=" text-primary ">{{ videos.grouper.title }}</h2>
        <div class="row placeholders">
	    {% for video in videos.list %}
			<div class="col-xs-6 col-sm-3 col-lg-2 placeholder">
			<img src="{% static "img/CLTicon2013-300x294.jpg"%}" class="img-responsive" alt="Generic placeholder ">
			<a href="{{ video.get_absolute_url }}"><h3>{{ video.display_order }} {{ video.title }}</h3></a>
			<span class="text-muted">{{ video.instructions }} </span>
			</div>
        {% empty %}
    	<p>There are no videos that are current.</p>
	    {% endfor %}
	    </div>

	{% endfor %}


{% endblock contentwrap %}
