<!-- discussion_create.html -->
{% extends "base_template.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block contentwrap %}
{% if user == video.creator %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <h3 class="sub-header">Create a new <span class="text-muted"> Video </span>:</h3>
        <form action="" enctype='multipart/form-data' method="post" role="form">{% csrf_token %}
            {{ form|crispy }}
            <input type="submit" value="Create" />
        </form>     
    </div>
    <div class="col-md-3"></div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

        <div class="modal-body">
            <div><iframe src="/channel/add2" width='100%' height='570' frameborder="0"></iframe></div>
        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
</div>
{% else %}
<br>
<br>
<br>
<p class='text-danger'> Please Login as {{video.creator}} </p>
{% endif %}
<!-- Modal Experiment -->

{% endblock contentwrap %}
{% block more_javascript %} 
<script type="text/javascript"> 
   var categoryID = "{{category.id}}";
</script>
<script src="{% static "js/video_create.js" %}"></script>

{% endblock more_javascript %}

