<!-- base_activity.html -->
{% extends "base.html" %}
{% load staticfiles %}

{% block activitynav %} 
	<!-- CONTEXT MENU - Activities --> 
    <li class="dropdown">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">More Activities <b class="caret"></b></a>
              <ul class="dropdown-menu">

                {% for activity_item in activity_list %}

                {% ifchanged activity_item.lesson %}
                <li><a href=""><span class="text-primary ">{{ activity_item.lesson.title }}</span></a></li>
                {% endifchanged %}

                    <li><a href="{{activity_item.get_absolute_url}}"><small>{{activity_item.title}}</small></a></li>

                {% endfor %}

			    <li class="divider"></li>
			    {% if course %}
			      <li><a href="{% url 'course' course.id %}">course home</a></li>
			      <li><a href="{% url 'create_lesson' course.id %}"><small><span class="glyphicon glyphicon-plus-sign"></span> New Lesson</small></a></li>
            <li><a href="{% url 'create_activity' course.id %}"><small><span class="glyphicon glyphicon-plus-sign"></span> New Activity</small></a></li>
			    {% endif %}
              </ul>
    </li>

{% endblock activitynav %}

{% block activity_item_list %} 
	    {% for activity_item in activity_list %}
	      	<li {% if activity_item.id == activity.id %} class="bg-primary" {% endif %}><a href="{{ activity_item.get_absolute_url }}">{{ activity_item.title }}</a></li>
	    {% endfor %}
{% endblock activity_item_list %}

{% block course_button_label %} {{ course.nickname }} {% endblock course_button_label %}

{% block contentwrap %}

	<h1 class="page-header">{{ activity.title }}</h1>
	<p class="sub-header"><span class="text-muted">{{ activity.instructions }}</span></p>

{% endblock contentwrap %}