{% extends "base.html" %}
{% load staticfiles %}


{% block contentwrap %}

<h2 class="sub-header">Current Courses</h2>

<div class="row placeholders">
	{% for course in course_list %}
		<div class="col-xs-6 col-sm-3 col-lg-2 placeholder">
		  <img src="{% static "img/CLTicon2013-300x294.jpg"%}" class="img-responsive" alt="Generic placeholder ">
		  <a href="{{ course.get_absolute_url }}"><h3>{{ course.nickname }}</h3></a>
		  <span class="text-muted">{{ course.title }}</span>
		</div>
	{% empty %}
    	<p>There are no courses that are current.</p>
	{% endfor %}
</div>

<h2 class="sub-header">Membership Request Pending</h2>

<h2 class="sub-header">Deactivated Courses</h2>


{% endblock contentwrap %}

